@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');


$black: black;
$white: white;
$yellow: yellow;
$blue-mix: rgb(72, 38, 194);
$pink-mix: rgb(233, 179, 183);
$green-mix: rgb(18, 172, 44);

body {
    display: grid;
    background: $black;
    grid-template-columns: [page-start]1fr [content-start]80vw[content-end] 1fr[page-end];
    grid-template-rows: [header-start]50vh [banner-begin]5em[header-end]5em[banner-end] auto[content-remains];
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1522120657009-060ca01afcd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTJ8fG93bHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center 20% ;
    color: $white;
    grid-column: page-start / page-end;
    grid-row: header-start / header-end; 
    
}

.section-one-titles {
    font-size: x-large;
    text-align: center;
    color: $yellow;
}


.section-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $white;
    background: $green-mix;
    grid-column: content-start / content-end;
    grid-row: banner-begin /banner-end; 
    z-index: 10;
    padding: 1em;
}

.section-three {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    color: $white;
    background: $blue-mix;
    grid-column: page-start / page-end;
    grid-row: header-end / content-remains;
    grid-template-columns: inherit;
}

.section-three-titles {
    display: block;
    background: $pink-mix;
    grid-column: content-start / content-end;
    color: $black;
    

}

