@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

$white: white;
$black: black;

body {
    display: grid;
    background: $black;
    color: $white;
    grid-template-columns: [page-start]1fr [content-start]80vw [content-end]1fr [page-end];
    grid-template-rows: [header-start]60vh [banner-start] 5em [header-end] 5em [banner-end] auto [content-bottom];
    //grid-template-areas:
    //    "header header header header header"
    //    ". section section section ."
    //    "section2 section2 section2 section2 section2"
   // ;
}

header {
    display: flex;
    background: url(https://images.unsplash.com/photo-1515705576963-95cad62945b6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RhcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    justify-content: center;
    align-items: center;
    grid-row: header-start / header-end;
    grid-column: page-start / page-end;
    background-blend-mode: multiply;
    

    .titles {
        display: block;
        text-transform: uppercase;
        text-align: center;
    }
}

.section-one {
    display: flex;
    background: $black;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    grid-row: banner-start / banner-end;
    grid-column: content-start / content-end;
    z-index: 10;
    
}

.section-two {
    display: grid;
    justify-content: center;
    align-items: center;
    background: lightblue;
    grid-row: header-end / content-bottom;
    grid-column: page-start / page-end;
    grid-template-columns: inherit;
    padding: 150px 0;
    
   
}

.section-two-titles {
   
    background: lightgreen;
    color: #333;
    
    grid-column: content-start / content-end;
}

